@font-face {
  font-family: 'Gochi Hand';
  src: url('./gochihand-regular-webfont.woff2') format('woff2'), url('./gochihand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
