@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

@font-face {
    font-family: 'Avenir';
    src: url('~@/assets/fonts/avenir/avenir-light-webfont.eot');
    src: url('~@/assets/fonts/avenir/avenir-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.woff') format('woff'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.ttf') format('truetype'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('~@/assets/fonts/avenir/avenir-roman-webfont.eot');
    src: url('~@/assets/fonts/avenir/avenir-roman-webfont.eot?#iefix') format('embedded-opentype'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.woff') format('woff'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.ttf') format('truetype'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: normal;
    font-style: normal;
}

$logo-fam: 'Avenir', sans-serif;
$body-fam: 'Avenir', sans-serif;
$handwriting-font: 'Gochi Hand', Helvetica, Arial, sans-serif;