@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');


$body-fam: 'Merriweather Sans', sans-serif;
$logo-fam: 'Yesteryear', serif;


@font-face {
    font-family: 'Avenir';
    src: url('~@/assets/fonts/avenir/avenir-light-webfont.eot');
    src: url('~@/assets/fonts/avenir/avenir-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.woff') format('woff'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.ttf') format('truetype'),
            url('~@/assets/fonts/avenir/avenir-light-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('~@/assets/fonts/avenir/avenir-roman-webfont.eot');
    src: url('~@/assets/fonts/avenir/avenir-roman-webfont.eot?#iefix') format('embedded-opentype'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.woff') format('woff'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.ttf') format('truetype'),
            url('~@/assets/fonts/avenir/avenir-roman-webfont.svg#avenir_lt_std45_book') format('svg');
    font-weight: normal;
    font-style: normal;
}


$logo-fam: 'Avenir', sans-serif;
$body-fam: 'Avenir', sans-serif;